body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(/resource/account/background.png) no-repeat center center
    fixed;
  background-color: var(--bgColor1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  margin-left: 0;
  background: white;
  width: clamp(300px, calc(100% - 160px), 800px);
  border-radius: 1rem;
}
